<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title></title>
    <%- include ('partials/head')%>

</head>
<body>
    
    <%- include ('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores exercitationem aliquid omnis enim eos architecto nostrum inventore esse, eveniet ex modi dicta fuga illo recusandae deserunt debitis? Non hic quos sint, doloribus maxime voluptatem eum, itaque labore perferendis earum magni quaerat veniam in harum est facere. Doloribus ullam temporibus repellendus expedita iste maiores reiciendis officia quasi, odit laudantium ducimus alias ipsa tempore delectus mollitia praesentium veritatis animi, magni, corrupti minima at impedit obcaecati sint. Eius, aut. Minima ducimus et eligendi quisquam dolorem consectetur tempore, necessitatibus sit amet iste ullam numquam eum officiis temporibus iusto ipsam autem pariatur, impedit animi est. Laborum non minima iure numquam, reprehenderit ut suscipit recusandae. Impedit explicabo eligendi officia sequi doloremque quisquam aspernatur ratione eaque? Ex laudantium tempore culpa nulla non molestias, quaerat reprehenderit eaque repellat quisquam veritatis voluptatibus omnis illum dolore itaque eius earum quasi officia at enim rerum dolores? Laborum quae inventore eos sapiente architecto? Eos magni autem illum quisquam incidunt labore odit fuga ex optio, ea accusantium, voluptate minima laudantium assumenda repellendus nisi necessitatibus consequuntur eligendi eveniet at numquam earum temporibus repudiandae unde! Voluptatibus recusandae eum culpa ut, enim assumenda possimus ab veniam exercitationem mollitia eaque iusto rerum nemo ipsam harum illo pariatur?</p>
        </section>
    </main>

    <%- include ('partials/footer')%>
    
</body>
</html>
